body {
    background-color: white;
}
.container {
    box-sizing: border-box;
    width: 1000px;
    height: 500px;
    margin: 25px 50px 75px 100px;
}
.div1{
    background-color:green;
    height: 5%;
    width: 80%;
    float: left;
}
.div2{
    background-color:blue;
    height: 5%;
    width: 20%;
    float: left;
}
.div3{
    background-color:red;
    height: 14%;
    width: 30%;
    float: left;
}
.div4{
    background-color:orange;
    height: 7%;
    width: 35%;
    float: left;
}
.div5{
    background-color:gray;
    height: 7%;
    width: 35%;
    float: left;
}
.div6{
    background-color:orangered;
    height: 7%;
    width: 23.3%;
    float: left;
}
.div7{
    background-color:rgb(13, 122, 13);
    height: 7%;
    width: 23.3%;
    float: left;
}
.div8{
    background-color:rgb(221, 80, 15);
    height: 7%;
    width: 23.40%;
    float: left;
}
.div9{
    background-color:black;
    height: 25%;
    width: 100%;
    float: left;
}